
.NewServices_Container__MqkmW {
  display: grid;
  place-items: center;
  padding-bottom: 8rem;
  background-image: linear-gradient(to right top, #fddbd8, #f9deeb, #ece4f9, #deebfd, #d8f1f8);  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto-fit with minimum width of 300px */
  gap: 20px; 
}

.lineHeight1{
  line-height: 0.8;
}
.cardFrontHeading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.insidePageHeading { 
  padding-bottom: 1rem; 
  width: 100%;

}
.cardContainer {
  display: grid;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.cardArea {
  display: grid;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  /* Your card styles */
  width: 100px; /* Adjust card width */
  margin: 10px; /* Adjust spacing between cards */
}


/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.insidePageHeading,
.cardFrontTextView {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.insidePageHeadingCity,
.cardFrontTextViewCity { color: #ff62b2; }

.insidePageHeadingSki,
.cardFrontTextViewSki { color: #2aaac1; }

.insidePageHeadingBeach,
.cardFrontTextViewBeach { color: #fa7f67; }

.insidePageHeadingCamping,
.cardFrontTextViewCamping { color: #00b97c; }

/* Front cover */

.cardFrontTp { color: #fafbfa; }

/* For pricing text on card front cover */
.cardFrontTextPrice {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.insidePageText {
  color: #333;
  height: 500px;
}

/* Icons ===========================================*/

.cardFrontIcon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.insidePageBtn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.insidePageBtn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.insidePageBtnCity { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.insidePageBtnCity::before { 
  background-color: #ff40a1;
}

.insidePageBtnSki { 
  border-color: #279eb2;
  color: #279eb2;
}

.insidePageBtnSki::before { 
  background-color: #279eb2;
}

.insidePageBtnBeach { 
  border-color: #fa7f67;
  color: #fa7f67;
}

.insidePageBtnBeach::before { 
  background-color: #fa7f67;
}

.insidePageBtnCamping { 
  border-color: #00b97d;
  color: #00b97d;
}

.insidePageBtnCamping::before { 
  background-color: #00b97d;
}

.insidePageBtn:hover { 
  color: #fafbfa;
}

.insidePageBtn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
  background-image: linear-gradient(to right top, #fddbd8, #f9deeb, #ece4f9, #deebfd, #d8f1f8);  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto-fit with minimum width of 300px */

  display: grid;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.AboutUsHeading {
  color: black;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

/* Container to hold all cards in one place */
.cardArea {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.cardSection {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flipCard {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flipCard > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flipCardContainer {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.cardFront,
.cardBack {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.cardFront {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.cardFrontTp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.cardFrontTpCity {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.cardFrontTpSki {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.cardFrontTpBeach {
  background: linear-gradient(
    to bottom,
    #fb9b88,
    #f86647
  );
}

.cardFrontTpCamping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.cardFrontBt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.cardBack {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.videoContainer {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.insidePage {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.insidePageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flipCardContainer {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .insidePage {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}


